@font-face {
    font-family: "Brush Script MT";
    src: url('BRUSHSCI.TTF');
}

.project-name, .project-tagline {
    font-family: "Brush Script MT" !important;
    font-style: italic;
    font-size: 8em;
    /*color: #ffd700;*/

    background-color: #ffd700;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}
.project-tagline {
    font-size: 3em;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #ffffff;
}
.contact sup, .ell {
    color: #159957;
}